---
- assert:
    that: filebeat_install_method in ['package', 'repository']
    msg: filebeat_install_method must be package or repository

- assert:
    that: filebeat_version is not none and filebeat_version | string | match("^[56]\.\d+\.\d+")
    msg: filebeat_version major version must be 5 or 6 and full version must be specified

- include: "{{ filebeat_install_method }}.yml"

- block:
    - name: ensure directories exist
      file:
        state: directory
        path: "{{ item }}"
      with_items:
        - /etc/filebeat
        - /var/lib/filebeat
        - /var/log/filebeat

    - name: write config file
      template:
        src: "{{ filebeat_config_template }}"
        dest: /etc/filebeat/filebeat.yml
        mode: "0600"
      notify: restart filebeat

    - name: manage filebeat service
      service:
        name: filebeat
        state: "{{ filebeat_service_state }}"
        enabled: "{{ filebeat_service_enabled }}"
  when: not filebeat_install_only
